<!DOCTYPE html>
<html lang="et">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Võlakirjapaneel</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <h1>Search for a Bond</h1>
    <form action="/" method="POST">
        <label for="symbol">Enter Bond Code:</label>
        <input type="text" id="symbol" name="symbol" required>

        <label for="period">Choose Period:</label>
        <select id="period" name="period">
            <option value="T">Today</option>
            <option value="Y">Yesterday</option>
            <option value="TW">This Week</option>
            <option value="LW">Last Week</option>
            <option value="TM">This Month</option>
            <option value="LM">Last Month</option>
        </select>

        <button type="submit">Search</button>
    </form>

    {% if sõna %}
    <p>Leitud võlakirjad: </p>
    <ol>
        {% for bond in sõna %}
        <li>{{ bond }}</li>
        {% endfor %} 
    </ol>
    
    <form action="/" method="POST">
        <label for="symbol">Number:</label>
        <input type="Number" id="number" name="number" required>
        <button type="submit">Search</button>
    </form>
    {% endif %}


    {% if bond1 %}
        {% for i in range(len(bond1)) %}
    <ul>
            {{bond1[i][0][]}}
    </ul>      
    {% endif %}
</body>

</html>