<!--See on meie Flaski HTML template-->

<!DOCTYPE html>
<html lang="et">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <title>Võlakirjapaneel</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="section">
        <div class="title">
            <h1>Võlakirjapaneel</h1>
        </div>
        <div class="form">
            <!-- Vorm võlakirja otsimiseks -->
            <form action="/" method="POST">
                <label for="symbol">Otsi võlakirja:</label>
                <input type="text" id="symbol" name="symbol" required placeholder="Sisesta sümbol">

                <label for="period">Vali periood:</label>
                <select id="period" name="period">
                    <option value="T">Täna</option>
                    <option value="Y">Eile</option>
                    <option value="TW">See nädal</option>
                    <option value="LW">Eelmine nädal</option>
                    <option value="TM">See kuu</option>
                    <option value="LM">Eelmine kuu</option>
                </select>
                <button type="submit">Otsi</button>
            </form>

            <!-- Dropdown menüü kõigi võlakirjadega -->
            <script>
                $(function () {
                    var validBonds = [
                        {% for symbol in all_symbols %}
                            "{{ symbol }}",
                        {% endfor %}
                    ];
                    $("#symbol").autocomplete({
                        source: validBonds,
                        minLength: 0 // Kuvab valikud ka tühja sisendi korral
                    }).focus(function () {
                        $(this).autocomplete("search", "");
                    });
                });
            </script>
        </div>

        <!-- Kuvab otsingutulemused -->
        {% if symbol_match %}
            <ol>
                {% for bonds in symbol_match %}
                {{ bonds }}
                {% endfor %}
            </ol>
        {% endif %}

        <!-- Graafiku sektsioon -->
        {% if prices %}
        <div style="height: 60vh; width: 100%;" class="graph">
            <canvas id="bondChart"></canvas>
        </div>

        <script>
            const labels = {{ bond_labels|tojson }};
            const bondData = {{ bond_data|tojson }};
            const tehinguteArv = {{ tehingute_arv|tojson }};

            const data = {
                labels: labels,
                datasets: [{
                    label: 'Hind',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: bondData,
                }]
            };

            const config = {
                type: 'line',
                data: data,
                options: {
                    maintainAspectRatio: false,
                    responsive: true,
                    plugins: {
                        tooltip: {
                            callbacks: {
                                afterLabel: function (context) {
                                    const index = context.dataIndex;
                                    return 'Tehingute arv: ' + tehinguteArv[index];
                                }
                            }
                        }
                    }
                }
            };

            const myChart = new Chart(
                document.getElementById('bondChart'),
                config
            );
        </script>
        {% endif %}


        <!-- /* From Uiverse.io by CYBWEBALI */ --> 
        <button class="btn" onclick="window.open('https://github.com/jaxhend/volakirjapaneel')">
            <svg width="40" height="40" fill="#0092E4" xmlns="https://github.com/jaxhend/volakirjapaneel" data-name="Layer 1" viewBox="0 0 24 24" id="github">
            <path d="M12,2.2467A10.00042,10.00042,0,0,0,8.83752,21.73419c.5.08752.6875-.21247.6875-.475,0-.23749-.01251-1.025-.01251-1.86249C7,19.85919,6.35,18.78423,6.15,18.22173A3.636,3.636,0,0,0,5.125,16.8092c-.35-.1875-.85-.65-.01251-.66248A2.00117,2.00117,0,0,1,6.65,17.17169a2.13742,2.13742,0,0,0,2.91248.825A2.10376,2.10376,0,0,1,10.2,16.65923c-2.225-.25-4.55-1.11254-4.55-4.9375a3.89187,3.89187,0,0,1,1.025-2.6875,3.59373,3.59373,0,0,1,.1-2.65s.83747-.26251,2.75,1.025a9.42747,9.42747,0,0,1,5,0c1.91248-1.3,2.75-1.025,2.75-1.025a3.59323,3.59323,0,0,1,.1,2.65,3.869,3.869,0,0,1,1.025,2.6875c0,3.83747-2.33752,4.6875-4.5625,4.9375a2.36814,2.36814,0,0,1,.675,1.85c0,1.33752-.01251,2.41248-.01251,2.75,0,.26251.1875.575.6875.475A10.0053,10.0053,0,0,0,12,2.2467Z"></path>
            </svg>
        </button>
    </div>
</body>

</html>